@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-main: #e6e6ff;
}

@layer base {
  body {
    @apply bg-main w-screen overflow-x-hidden font-montserrat;
  }
}

@layer utilities {
  .animatedButton {
    animation-duration: 10000ms;
  }
}

.ql-container,
.ql-editor,
.ql-toolbar {
  border: none !important;
}
.ql-toolbar {
  border-bottom: rgb(197, 195, 195) 1px solid !important;
}

.ql-editor.ql-blank::before {
  color: #9ca3af; /* text-gray-400 */
  font-style: normal !important;
  font-family: var(--font-montserrat) !important;
  font-size: 1.125rem !important; /* text-lg */
}
